
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    outline: none;
}


body{
    overflow: hidden;
    background-color: #f2f2f2;
    padding: 16px;
    
}

/* CSS HEADER */
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 28px 28px ;
}


header .izquierda{
    display: flex;
    width: 8%;
    justify-content: space-between;
}


/* CSS CONTENEDOR PRINCIPAL */

main{
    height: 28pc;
    padding: 0 6pc 0 6pc;
    margin-bottom: 1.3pc;
}
.container-ppl{
    width: 100%;
    height: 80%;
    display: grid;
    /* grid-template-columns: repeat(2,minmax(0,1fr)); */
    grid-template-columns: 0.8fr 0.5fr;
    grid-column-gap: 8pc;

}
.bar{
    display: flex;
    justify-content: center;
    gap: 56px;
    align-items: center;
    background-color: #545432AD;
    padding: 8px;
    border-radius:10px;
    font-weight: bold;
}

.items-comprados{
    padding-top: 1pc;
}
.items-comprados ul li{
    list-style: none;
}

.card-total{
    background-color: #545432AD;
    color: white;
    height: 75%;
    border-radius: 1rem;
    display:flex;
    justify-content: space-around ;
    align-items: center;
    flex-direction: column;
    
}

#card-total-p{
    font-weight: bold;
    font-size: 2pc;
}

#checkout{
    text-decoration: none;
    color:white;
    border: 1px solid white;
    border-radius: 0.3rem;
    padding: 8px 32px 8px 32px;
}

.prices{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

#subtotal{
    display: flex;
    width: 130%;
    justify-content: space-between;
    align-items: center;
}

#subtotal p{
    font-size: 16px;
}
#total{
    display: flex;
    width: 130%;
    justify-content: space-between;
    align-items: center;
}

#total p:nth-child(2){
    font-weight:bold;
}

.icons{
    width: 48pc;
    height: 10pc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10pc;
    
}

.icon{
    /* display:grid;
    grid-template-columns: repeat(2,minmax(0,0.8fr));  */
    display: flex;
    align-items: center;
    width: 10pc;
    height: 100%;
}

.icon p:nth-child(1){
    font-weight: bold;
}

.icon p:nth-child(2){
    font-weight: lighter;
    color:gray;
    
}

#tabla{
    width:100%;
    height: 50%;
}

/* tabla csss */

#product-img{
    background-color: #545432AD;
    

    background-repeat: no-repeat;
    width: 98px;
    /* height: 72px; */
    /* top: 291px
    left: 288px */
    border-radius: 0.3rem;
    background-position: center;
  /* Ajusta el tamaño de la imagen para que ocupe todo el contenedor */
    background-size: cover;
}

table {
    border-spacing: 10px; /* Ajusta el valor según el espacio deseado */
}

table tr{
    height: 10px;
}

#product-subtotal, #product-name{
    color: #9F9F9F;
}